.first-name,
      .last-name,
      .email{
        font-family: Arial;
        font-size: 16px;
        padding-left: 8px;
        padding-top:8px;
        padding-bottom:8px;
        width: 150px;
        border-radius:4px;
        border-width: 1px;
        border-style:solid;
        border-color: rgb(200, 200, 200);
        display:inline-block;
        margin-bottom:10px;
      }

      .email{
        display:block;
        width: 316px;
      }

      .sign-up-button{
        color:white;
        font-weight: bold;
        background-color: rgb(0, 115, 255);
        border:none;
        border-radius:6px;
        padding-left: 138px;
        padding-right:138px;
        padding-top:10px;
        padding-bottom:10px;
        cursor:pointer;
      }